<h1>Mutuaciones</h1>
<hr>
<div class="row">
  <div class="col-6">
    <label>email</label>
    <input
      #txtEmail
      type="text"
      class="form-control"
      (input)="onFieldUpdate('email', txtEmail.value)"
      [value]="user().email">
    <label>First name</label>
    <input
      #txtFirstName
      type="text"
      class="form-control"
      (input)="onFieldUpdate('first_name', txtFirstName.value)"
      [value]="user().first_name">
      <label>Last name</label>
      <input
      #txtLastName
      type="text"
      class="form-control"
      (input)="onFieldUpdate('last_name', txtLastName.value)"
      [value]="user().last_name">
  </div>
  <div class="col-6">
    <!-- Data del usuario -->
    <pre>
      {{ user() | json }}
    </pre>

    <button class="btn btn-primary" (click)="increaseBy(+1)"> +1</button>
  </div>
</div>
